<div class="main animated fadeIn">
  <div class="section section-download section-first" id="#download-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="text-center col-md-12 col-lg-8">
          <h3 class="title">DIC THE CAN CREW</h3>
          <h5 class="title">- 缶蹴り関係検索アプリ -</h3>
          <h5 class="description">KICK THE CAN CREWおよび各メンバー(LITTLE、KREVA、MCU)が参加している楽曲の全文検索ができます</h5>
          <h6 class="search_song_sum">《現在の検索対象曲数》</h6>
          <p class="search_song_sum">KICK THE CAN CREW : <%= @ktcc_sum %>曲　KREVA : <%= @kreva_sum %>曲<br>LITTLE : <%= @little_sum %>曲　MCU : <%= @mcu_sum %>曲　UL : <%= @ul_sum %>曲　その他 : <%= @other_sum %>曲</p>
        </div>
        <div class="text-center col-md-12 col-lg-8">
          <%# リダイレクトでエラーが送られてきた時の処理 %>
          <% if flash[:errors] %>
            <ul class="error">
              <% flash[:errors].each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <%= form_for(@search_log, url: search_result_path, method: :get) do |form| %>
            <div class="form-group">
            <%= form.text_field :searchword, class: 'form-control', placeholder: "put search phrase" %>
            </div>
            <%= form.submit '通常検索（表記検索）', name: :character_search, value: '通常検索（表記検索）', id: 'lyric_search', class: "btn btn-primary btn-lg btn-round normal-search" %>
            <%= form.submit 'ふりがな検索', name: :ruby_search, value: 'ふりがな検索', id: 'ruby_search', class: "btn btn-primary btn-lg btn-simple btn-round ruby-search" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr class="fade-2">
  <div class="section section-tabs">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
          <p class="category">通常検索履歴</p>
          <!-- Tabs with Background on Card -->
          <div class="card">
            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home1" role="tab" aria-expanded="false">最近の検索</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile1" role="tab" aria-expanded="false">人気の検索</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages1" role="tab" aria-expanded="false">スコアの高い検索</a>
              </li>
            </ul>
            <div class="card-body">
              <!-- Tab panes -->
              <div class="tab-content text-center">
                <div class="tab-pane active" id="home1" role="tabpanel" aria-expanded="false">
                  <table>
                    <tr>
                      <th></th>
                      <th>検索フレーズ</th>
                      <th>ヒット曲数</th>
                      <th>曲名</th>
                    </tr>
                    <% @recent_search_logs_character.each_with_index do |log, i| %>
                      <tr>
                        <td><%= (i+1).to_s %>.</td>
                        <td><%= link_to(log.searchword, action: :result, 'search_log[searchword]': log.searchword, character_search: '通常検索（表記検索）') %></td>
                        <td><%= log.hit_song_count %></td>
                        <td><%= get_most_appear_song_name_from_search_log(log) %><%= log.hit_song_count > 1 ? ' etc.' : '' %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane" id="profile1" role="tabpanel" aria-expanded="true">
                  <table>
                    <tr>
                      <th></th>
                      <th>検索フレーズ</th>
                      <th>ヒット曲数</th>
                      <th>曲名</th>
                    </tr>
                    <% @popular_search_logs_character.each_with_index do |log, i| %>
                      <tr>
                        <td><%= (i+1).to_s %>.</td>
                        <td><%= link_to(log[0][1], action: :result, 'search_log[searchword]': log[0][1], character_search: '通常検索（表記検索）') %></td>
                        <td><%= log[2] %></td>
                        <td><%= get_most_appear_song_name_from_search_condition(log[0][1], :character) %><%= log[2] > 1 ? ' etc.' : '' %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane" id="messages1" role="tabpanel" aria-expanded="false">
                  <table>
                    <tr>
                      <th></th>
                      <th>検索フレーズ</th>
                      <th>ヒット曲数</th>
                      <th>スコア<br>（文字数×曲数）</th>
                      <th>曲名</th>
                    </tr>
                    <% @highscore_search_logs_character.each_with_index do |log, i| %>
                      <tr>
                        <td><%= (i+1).to_s %>.</td>
                        <td><%= link_to(log.searchword, action: :result, 'search_log[searchword]': log.searchword, character_search: '通常検索（表記検索）') %></td>
                        <td><%= log.hit_song_count %></td>
                        <td><%= log.score %></td>
                        <td><%= get_most_appear_song_name_from_search_log(log) %><%= log.hit_song_count > 1 ? ' etc.' : '' %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- End Tabs on plain Card -->
        </div>
        <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto animated">
          <p class="category">ふりがな検索履歴</p>
          <!-- Nav tabs -->
          <div class="card">
            <ul class="nav nav-tabs nav-tabs-white justify-content-center" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="false">
                    最近の検索
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
                    人気の検索
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-expanded="false">
                    スコアの高い検索
                </a>
              </li>
            </ul>
            <div class="card-body">
              <!-- Tab panes -->
              <div class="tab-content text-center">
                <div class="tab-pane  tab-pane-white active" id="home" role="tabpanel" aria-expanded="false">
                  <table>
                    <tr>
                      <th></th>
                      <th>検索フレーズ</th>
                      <th>ヒット曲数</th>
                      <th>曲名</th>
                    </tr>
                    <% @recent_search_logs_ruby.each_with_index do |log, i| %>
                      <tr>
                        <td><%= (i+1).to_s %>.</td>
                        <td><%= link_to log.searchword, action: :result, 'search_log[searchword]': log.searchword, ruby_search: 'ふりがな検索' %></td>
                        <td><%= log.hit_song_count %></td>
                        <td><%= get_most_appear_song_name_from_search_log(log) %><%= log.hit_song_count > 1 ? ' etc.' : '' %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane tab-pane-white" id="profile" role="tabpanel" aria-expanded="false">
                  <table>
                    <tr>
                      <th></th>
                      <th>検索フレーズ</th>
                      <th>ヒット曲数</th>
                      <th>曲名</th>
                    </tr>
                    <% @popular_search_logs_ruby.each_with_index do |log, i| %>
                      <tr>
                        <td><%= (i+1).to_s %>.</td>
                        <td><%= link_to log[0][1], action: :result, 'search_log[searchword]': log[0][1], ruby_search: 'ふりがな検索' %></td>
                        <td><%= log[2] %></td>
                        <td><%= get_most_appear_song_name_from_search_condition(log[0][1], :ruby) %><%= log[2] > 1 ? ' etc.' : '' %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane tab-pane-white" id="messages" role="tabpanel" aria-expanded="false">
                  <table>
                    <tr>
                      <th></th>
                      <th>検索フレーズ</th>
                      <th>ヒット曲数</th>
                      <th>スコア<br>（文字数×曲数）</th>
                      <th>曲名</th>
                    </tr>
                    <% @highscore_search_logs_ruby.each_with_index do |log, i| %>
                      <tr>
                        <td><%= (i+1).to_s %>.</td>
                        <td><%= link_to log.searchword, action: :result, 'search_log[searchword]': log.searchword, ruby_search: 'ふりがな検索' %></td>
                        <td><%= log.hit_song_count %></td>
                        <td><%= log.score %></td>
                        <td><%= get_most_appear_song_name_from_search_log(log) %><%= log.hit_song_count > 1 ? ' etc.' : '' %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
