<%# 検索画面（トップページ） %>
<%# GETメソッドで検索を行う %>
<h1>DIC THE CAN CREW(仮)<br>- 缶蹴り関係検索アプリ -</h1>
<h4>KICK THE CAN CREWのメンバーが関わっている曲を<br />歌詞（フレーズ）から検索することができるよ</h4>
<%# リダイレクトでエラーが送られてきた時の処理 %>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for(@search_log, url: search_result_path, method: :get) do |form| %>
  <%= form.text_field :searchword, size: 25, onkeyup: 'checkTextBoxAllKana();' %>
  <%= form.submit '表記検索', name: :searchtype, value: '表記検索', id: 'lyric_search' %>
  <%= form.submit 'ルビ検索', name: :searchtype, value: 'ルビ検索', id: 'ruby_search', disabled: true %>
<% end %>
<hr>

<h2>最近の検索履歴</h2>
<table>
  <tr>
    <th>検索タイプ</th>
    <th>検索語</th>
    <th>ヒット曲数</th>
  </tr>
  <% @recent_search_logs.each do |log| %>
    <tr>
      <td><%= log.searchtype %></td>
      <td><%= link_to log.searchword, action: :result, 'search_log[searchword]': log.searchword, searchtype: log.searchtype %></td>
      <td><%= log.hit_song_count %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>人気の検索履歴</h2>
<table>
  <tr>
    <th>検索タイプ</th>
    <th>検索語</th>
    <th>検索回数</th>
    <th>ヒット曲数</th>
  </tr>
  <% @popular_search_logs.each do |log| %>
    <tr>
      <td><%= log[0][0] %></td>
      <td><%= link_to log[0][1], action: :result, 'search_log[searchword]': log[0][1], searchtype: log[0][0] %></td>
      <td><%= log[1] %></td>
      <td><%= log[2] %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>高得点の検索履歴</h2>
<table>
  <tr>
    <th>検索タイプ</th>
    <th>検索語</th>
    <th>ヒット曲数</th>
    <th>スコア</th>
  </tr>
  <% @highscore_search_logs.each do |log| %>
    <tr>
      <td><%= log.searchtype %></td>
      <td><%= link_to log.searchword, action: :result, 'search_log[searchword]': log.searchword, searchtype: log.searchtype %></td>
      <td><%= log.hit_song_count %></td>
      <td><%= log.score %></td>
    </tr>
  <% end %>
</table>
