<!doctype html>
  <div class="wrapper">
    <div class="container">

      <div class="masonry-container">


        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border card-just-text" data-background="color" data-color="black">
            <div class="content">
              <h4 class="title">"音楽"
                <br>is contained in
                <br>6 Kick Songs.</h4>
              <p class="description">Score : 18</p>
            </div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card">
            <div class="header">
              <%= image_tag("lifestyle-8.jpg") %>
            </div>

            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">ナビ</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>


        <div class="card-box col-md-4 col-sm-6">
          <div class="card" data-background="image" data-src=<%= image_path("lifestyle-1.jpg") %>>
            <div class="header">
              <div class="category">
                <h6 class="label label-danger">KICK THE CAN CREW</h6>
              </div>
            </div>

            <div class="content">
              <h4 class="title title-uppercase">
                ナビ
              </h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
            <div class="filter">

            </div>
          </div>
          <!-- end card -->
        </div>


        <div class="card-box col-md-4 col-sm-6">
          <div class="card">
            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">
                脳内VACATION
              </h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>


        <div class="card-box col-md-4 col-sm-6">
          <div class="card">
            <div class="header">
              <%= image_tag("beard-1.jpg") %>

              <div class="social-line social-line-visible" data-buttons="4">
                <button class="btn btn-social btn-facebook">
                  <i class="fa fa-facebook"></i>
                </button>
                <button class="btn btn-social btn-twitter">
                  <i class="fa fa-twitter"></i>
                </button>
                <button class="btn btn-social btn-pinterest">
                  <i class="fa fa-pinterest"></i>
                </button>
                <button class="btn btn-social btn-google">
                  <i class="fa fa-google-plus"></i>
                </button>
              </div>
            </div>

            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">マルシェ</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card" data-background="image" data-src=<%= image_path("lifestyle-2.jpg") %>>
            <div class="header">
              <div class="category">
                <h6 class="label label-warning">KICK THE CAN CREW</h6>
              </div>

              <div class="social-line" data-buttons="3">
                <button class="btn btn-social btn-facebook">
                  <i class="fa fa-facebook-square"></i> Share
                </button>
                <button class="btn btn-social btn-twitter">
                  <i class="fa fa-twitter"></i> Tweet
                </button>
                <button class="btn btn-social btn-pinterest">
                  <i class="fa fa-pinterest"></i> Pin
                </button>
              </div>
            </div>

            <div class="content">
              <h4 class="title">揺れ</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
							<h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
            <div class="filter"></div>
          </div>
          <!-- end card -->
        </div>





        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border" data-background="image" data-src=<%= image_path('fashion-1.jpg') %>>
            <div class="header">
            </div>

            <div class="content text-center">
              <h4 class="title">揺れ</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
							<h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
            <div class="footer text-center">
              <a href="#" class="btn btn-danger btn-fill btn-round">KICK THE CAN CREW</a>
            </div>
            <div class="filter"></div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-just-text card-with-border" data-background="image" data-src=<%= image_path('lifestyle-9.jpg') %>>
            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title title-modern">DJDJ[for RADIO]</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
            <div class="filter"></div>
          </div>
          <!-- end card -->
        </div>


        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border" data-background="color" data-color="azure">
            <div class="header">
              <div class="icon">
<i class="fa fa-heart"></i>
              </div>
            </div>
            <div class="content text-center">
              <h4 class="title title-modern">one for the what, two for the who</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
            <div class="footer text-center">
              <button class="btn btn-neutral btn-round btn-fill btn-modern">KICK THE CAN CREW</button>
            </div>
          </div>
          <!-- end card -->
        </div>





        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border" data-background="color" data-color="orange">
            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">
                ONEWAY
              </h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card text-center" data-background="image" data-src=<%= image_path('city-2.png') %>>
            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title title-modern">カンケリ01</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
            <div class="filter"></div>
            <div class="footer btn-center">
              <!-- <button class="btn btn-neutral btn-round btn-fill">KICK THE CAN CREW</button> -->
            </div>
          </div>
          <!-- end card -->
        </div>




        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border">
            <div class="header">
              <div class="icon">
                <i class="fa fa-leaf"></i>
              </div>
            </div>
            <div class="content text-center">
              <h4 class="title text-center">BREAK3</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
            <div class="footer btn-center">
              <button class="btn btn-default btn-round btn-fill btn-info btn-modern">KICK THE CAN CREW</button>
            </div>
          </div>
          <!-- end card -->
        </div>






        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-just-text card-with-border" data-background="image" data-src=<%= image_path('music-3.jpg') %>>
            <div class="content">
              <div class="filter filter-red"></div>
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title title-modern">裏表</h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>

            <div class="filter"></div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card card-with-border" data-background="color" data-color="green">
            <div class="header">
              <div class="icon">
                <h4 class="title title-modern">裏表</h4>
                <i class="fa fa-gift"></i>
              </div>

              <div class="social-line" data-buttons="3">
                <button class="btn btn-social btn-facebook">
                  <i class="fa fa-facebook"></i>
                </button>
                <button class="btn btn-social btn-twitter">
                  <i class="fa fa-twitter"></i>
                </button>
                <button class="btn btn-social btn-pinterest">
                  <i class="fa fa-pinterest"></i>
                </button>
              </div>

            </div>
            <div class="content text-center">
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
              <br>
            </div>
            <div class="footer btn-center">
              <button class="btn btn-neutral btn-fill btn-modern">KICK THE CAN CREW</button>
            </div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card" data-background="color" data-color="black">
            <div class="header">
              <%= image_tag("home-1.jpg") %>

              <div class="social-line" data-buttons="2">
                <button class="btn btn-social">
                  <i class="fa fa-facebook-square"></i> Share
                </button>
                <button class="btn btn-social">
                  <i class="fa fa-twitter"></i> Tweet
                </button>
              </div>
            </div>

            <div class="content">
              <h6 class="category">KICK THE CAN CREW</h6>
              <h4 class="title">
                ONEWAY
              </h4>
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>
          </div>
          <!-- end card -->
        </div>



        <div class="card-box col-md-4 col-sm-6">
          <div class="card text-center" data-background="image" data-src=<%= image_path('city-1.jpg') %>>
            <h4 class="title title-modern">地球ブルース337</h4>

            <div class="content">
              <ul>
                <li>作詞：KICK THE CAN CREW</li>
                <li>作曲：KREVA</li>
                <li>編曲：Unknown</li>
              </ul>
              <hr>
              <h5>収録CD</h5>
              <ul>
                <li>GOOD TIME!(2000-08-18)</li>
                <li>GREATEST HITS!(2007-08-18)</li>
                <li>youn animal e.p(2001-08-18)</li>
              </ul>
              <hr>
              <ul>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
                <li>…EAH!
                  <span style="color:red">音楽</span>と共に笑い…
                  <br>(VERSE3 by
                  <span style="color:green">KICK THE CAN CREW</span>)</li>
              </ul>
            </div>

            <div class="footer btn-center">
              <button class="btn btn-neutral btn-round btn-modern">KICK THE CAN CREW</button>
            </div>

            <div class="filter filter-blue"></div>
          </div>
          <!-- end card -->
        </div>


      </div>

    </div>
  </div>
  <!-- end wrapper -->
