<%# @hit_song_infosはsong_idを主キーにしたハッシュ。
    値はLyricモデルの配列 %>
<% if params['searchtype'] == 'ルビ検索' %>
<h3>(ふりがな検索)</h3>
<% end %>
<h1>「<%= params['searchword'] %>」は<%= @hit_song_infos.length %>曲に含まれています</h1>
<%= link_to 'トップに戻る', action: :index %>
<% @hit_song_infos.each_with_index do |(key, info_arr), i| %>
  <h2><%= i+1 %>.<%= info_arr[0].song.name %></h2>
  <h4>収録CD：</h4>
  <ul>
  <% info_arr[0].song.cds.each do |cd| %>
    <li><%= cd.name %>(<%= cd.released_at %>)</li>
  <% end %>  
  </ul>
  <p>作詞：<%= info_arr[0].song.lyricist %></p>
  <p>作曲：<%= info_arr[0].song.composer %></p>
  <p>編曲：<%= info_arr[0].song.arranger %></p>
  <%= show_searchwords(params[:searchtype], info_arr, params['searchword']) %> 
  <% if info_arr[0].song.lyric_urls[0] %>
    <% lyric_website_url = info_arr[0].song.lyric_urls[0].url %>
  <p>
    <%= info_arr[0].song.lyric_urls[0].lyric_website.name %>：
    <%= link_to lyric_website_url, lyric_website_url, target: :blank %>
  </p>
  <% end %>
  <hr>
<% end %>
<%= link_to 'トップに戻る', action: :index %>
