<div class="page-header page-header-small">
  <div class="page-header-image" style="background-image: url('../../assets/img/jackets_collage.png');">
  </div>
  <div class="container">
    <div class="content-center">
      <h1 class="title">KICK &amp; ソロ名義楽曲一覧</h1>
      <h5 class="title artists-link"><a href="#ktcc" class="artist-section-link">KICK THE CAN CREW</a> | <a href="#kreva" class="artist-section-link">KREVA</a> | <a href="#little" class="artist-section-link">LITTLE</a> | <a href="#mcu" class="artist-section-link">MCU</a> | <a href="#ul" class="artist-section-link">UL</a> | <a href="#other" class="artist-section-link">OTHER</a></h5>
    </div>
  </div>
</div>
<div class="section section-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center animated fadeIn">
        <p class="description">
          KICK THE CAN CREWおよび各メンバーがこれまでにリリースしたCDをまとめています。
        </p>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h3 class="title animated fadeIn" id="ktcc">KICK THE CAN CREW</h3>
        <ul>
          <%= generate_cd_view(
                'takaoni', 
                'Sg', 
                'タカオニ / カンケリ', 
                Date.new(1997, 8, 21), 
                [
                  CdData.new(
                    "Disc1",
                    [["タカオニ","○",""],
                    ["カンケリ","○",""] ,
                    ["タカオニ(INSTRUMENTAL)","",""], 
                    ["カンケリ(INSTRUMENTAL)","",""]])
                ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'younganimal', 
                'Sg', 
                'young animal e.p.', 
                Date.new(2000, 7, 5), 
                [
                  CdData.new(
                    "Disc1",
                    [["Down by Law(feat.CRAZY-A)","○",""],
                    ["タカオニ2000","○",""] ,
                    ["one for the what,two for the who-part2","○",""], 
                    ["灼熱舞踏会","○",""]])
              ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'goodtime', 
                'Sg', 
                'GOOD TIME!', 
                Date.new(2000, 8, 18), 
                [
                  CdData.new(
                    "Disc1",
                    [["GOOD TIME!","○",""],
                    ["UP DOWN BICYCLE","○",""] ,
                    ["ユートピア","○",""]])
              ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'youngking', 
                'Al', 
                'YOUNG KING', 
                Date.new(2000, 9, 13), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["Call…","","Instrumental"],
                      ["KICK OFF","○",""] ,
                      ["Megacityrunning","○",""],
                      ["Why did I?","○",""],
                      ["GOOD TIME!","○",""],
                      ["PARTYOVER","○",""],
                      ["ユートピア","○",""],
                      ["X-amount","○",""],
                      ["旅人","","Instrumental"],
                      ["エルニーニョ","○",""],
                      ["United rivers","○",""],
                      ["河と海が合わさるところ","","Instrumental"],
                      ["タカオニ2000","○",""]
                    ]
                  )
                ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'kyoukaraashita', 
                'Sg', 
                '今日から明日', 
                Date.new(2001, 2, 21), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["今日から明日","○",""],
                      ["今日カラ明日","△","「今日から明日」と同じ歌詞"] ,
                      ["今日から明日(INSTRUMENT)","",""],
                      ["今日カラ明日(INSTRUMENT)","",""],
                    ]
                  )
                ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'superoriginal', 
                'Sg', 
                'スーパーオリジナル', 
                Date.new(2001, 5, 23), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["スーパーオリジナル","○",""],
                      ["Fire!-reconstruction of スーパーオリジナル","","Instrumental"] ,
                      ["スーパーオリジナル(INSTRUMENT)","",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'itsunarouba', 
                'Sg', 
                'イツナロウバ', 
                Date.new(2001, 7, 11), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["イツナロウバ","○",""],
                      ["KA･RU･KU FICTION","○",""] ,
                      ["イツナロウバ(INSTRUMENTAL)","",""],
                      ["KA･RU･KU FICTION(INSTRUMENTAL)","",""] ,
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'kankeri01', 
                'Sg', 
                'カンケリ01 / LIFELINE', 
                Date.new(2001, 9, 27), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["カンケリ01","○",""],
                      ["LIFELINE","○",""] ,
                      ["カンケリ01(INSTRUMENTAL)","",""],
                      ["LIFELINE(INSTRUMENTAL)","",""] ,
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'greatesthits', 
                'Al', 
                'Greatest Hits', 
                Date.new(2001, 10, 17), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["Down by Law","○",""],
                      ["GOOD TIME!(ver.2001)","△","アレンジ"] ,
                      ["3MCs+1DJ","○",""],
                      ["Color Variation","○",""],
                      ["one for the what,two for the who(ver.2001)","△","アレンジ"],
                      ["one for the what,two for the who(part2)","○",""],
                      ["ユートピア (ver.2001)","△","アレンジ"],
                      ["X-amount(ver.2001)","△","アレンジ"],
                      ["今日カラ明日","△","「今日から明日」と同じ歌詞"],
                      ["灼熱舞踏会","○",""],
                      ["Why Did I ?(remix)","△","アレンジ"],
                      ["エルニーニョ(ver.2001)","△","アレンジ"],
                      ["今日から明日","○",""],
                      ["タカオニ2000","○",""],
                      ["タカオニ","○",""],
                      ["カンケリ","○",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'christmaseverap', 
                'Sg', 
                'クリスマス・イブRap', 
                Date.new(2001, 11, 7), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["クリスマス・イブRap","○",""],
                      ["クリスマス・イブRap(INSTRUMENTAL)","",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'marche', 
                'Sg', 
                'マルシェ', 
                Date.new(2002, 1, 23), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["マルシェ","○",""],
                      ["C'MON EVERYBODY","○",""],
                      ["イツナロウバ　live at NAGOYA QUATTRO(3MCs+1DJ tour final)","△","Live"],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'vitalizer', 
                'Al', 
                'VITALIZER', 
                Date.new(2002, 2, 14), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ['THE THEME OF "KICK"',"○",""],
                      ["スーパーオリジナル","○",""],
                      ["マルシェ","○",""],
                      ["ONEWAY","○",""],
                      ["キックOFF","○",""],
                      ["C'MON EVERYBODY","○",""],
                      ["イツナロウバ","○",""],
                      ["One for the what,two for the who Part3","○",""],
                      ["?WHATCHANAME?","○",""],
                      ["LIFELINE","○",""],
                      ["HANDS","○",""],
                      ["VITALIZER","○",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'oneway', 
                'Sg', 
                'ONEWAY', 
                Date.new(2002, 3, 13), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["ONEWAY","○",""],
                      ["HANDS","○",""],
                      ["マルシェROCK-Tee's mo'raw-funk remix","△","アレンジ"],
                      ["マルシェLIVE at ZEPP OSAKA,24DEC2001","△","Live"],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'sayonarasayonara', 
                'Sg', 
                'sayonara sayonara', 
                Date.new(2002, 5, 22),
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["sayonara sayonara","○",""],
                      ["bed","○",""],
                      ["KICK オフ(DJ TATSUTA remix)","△","アレンジ"],
                      ["sayonara sayonara(instrumental)","",""],
                      ["bed(instrumental)","",""],
                      ["マルシェ(instrumental)","",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'unbalance', 
                'Sg', 
                'アンバランス', 
                Date.new(2002, 8, 28),
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["アンバランス","○",""],
                      ["サヨナラサヨナラ(イーゼ)feat.CUEZERO","△","アレンジ。HOOK以外別歌詞"],
                      ["LIVE at 渋谷クアトロ,17 JUL.2002","","Live"],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'chikyuublues', 
                'Sg', 
                '地球ブルース～337～ / DJDJ[for RADIO]', 
                Date.new(2002, 11, 7),
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["地球ブルース～337～","○",""],
                      ["DJDJ[for RADIO]","○",""],
                      ["地球ブルース～337～(instrumental)","",""],
                      ["DJDJ[for RADIO](instrumental)","",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'toriiiiiico', 
                'Sg', 
                'TORIIIIIICO! feat. CASSETTE VISION', 
                Date.new(2002, 11, 7),
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["TORIIIIIICO!","○",""],
                      ["TORIIIIIICO!(instrumental)","",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'magicnumber', 
                'Al', 
                'magic number', 
                Date.new(2003, 1, 1), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["登場","○",""],
                      ["RE-FRESH","○",""],
                      ["地球ブルース～337～","○",""],
                      ["ストレス","○",""],
                      ["mama said～ハタラキッパ～","○",""],
                      ["アンバランス","○",""],
                      ["movingman","○",""],
                      ["DJDJ(for RADIO)","○",""],
                      ["CAN-CAN","○",""],
                      ["TORIIIIIICO! feat.CASSETTE VISION","○",""],
                      ["E.L.E.M.E.N.T.S","○",""],
                      ["LONELY ONE","○",""],
                      ["sayonara sayonara(Album Edit)feat.CUE ZERO","△","アレンジ"],
                      ["magic number","○",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'sagacontinue', 
                'Sg', 
                '性コンティニュー', 
                Date.new(2003, 8, 6), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["性コンティニュー","○",""],
                      ["BREAK 3","○",""],
                      ["神輿ロッカーズ(live)feat.RHYMESTER","△","Live"],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'goodmusic_sg', 
                'Sg', 
                'GOOD MUSIC', 
                Date.new(2003, 9, 10), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["GOOD MUSIC","○",""],
                      ["自由TIME","○",""],
                      ["性コンティニュー(LIVE)","△","Live"],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'puncsunzennofunk', 
                'Sg', 
                'パンク寸前のFUNK', 
                Date.new(2003, 10, 16), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["パンク寸前のFUNK","○",""],
                      ["D.O.I.T.A.","○",""],
                      ["GOOD MUSIC(LIVE)","△","Live"],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'navi', 
                'Sg', 
                'ナビ / 揺れ', 
                Date.new(2003, 11, 12), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["ナビ","○",""],
                      ["揺れ","○",""],
                      ["パンク寸前のFUNK(LIVE)","△","Live"],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'nounaivacation', 
                'Sg', 
                '脳内VACATION', 
                Date.new(2003, 12, 10), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["脳内VACATION","○",""],
                      ["脳内VACATION(instrumental)","",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'bestalbum20012003', 
                'Al', 
                'BEST ALBUM 2001-2003', 
                Date.new(2003, 11, 19), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["STEP IN THE DAY","○",""],
                      ["スーパーオリジナル","○",""],
                      ["イツナロウバ","○",""],
                      ["カンケリ01","○",""],
                      ["LIFELINE","○",""],
                      ["クリスマス・イブ Rap","○",""],
                      ["マルシェ","○",""],
                      ["ONEWAY","○",""],
                      ["VITALIZER","○",""],
                      ["sayonara sayonara","○",""],
                      ["アンバランス","○",""],
                      ["地球ブルース～337～","○",""],
                      ["DJDJ[for RADIO]","○",""],
                      ["TORIIIIIICO!","○",""],
                      ["magic number","○",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'goodmusic_al', 
                'Al', 
                'GOOD MUSIC', 
                Date.new(2004, 1, 1), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["OPENING","○",""],
                      ["性コンティニュー","○",""],
                      ["パレード","○",""],
                      ["MISSION 1","○",""],
                      ["脳内VACATION(album edit)","△","アレンジ"],
                      ["ALL NIGHT LONG","○",""],
                      ["裏表","○",""],
                      ["揺れ","○",""],
                      ["MISSION 2","○",""],
                      ["自由TIME(album edit)","△","アレンジ"],
                      ["ナビ","○",""],
                      ["LIKE THIS(GOOD!)","○",""],
                      ["GOOD MUSIC","○",""],
                      ["MISSION 3","○",""],
                      ["パンク寸前のFUNK","○",""],
                      ["もしも","○",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'kick', 
                'Al', 
                'KICK!', 
                Date.new(2017, 8, 30), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["全員集合","○",""],
                      ["千％","○",""],
                      ["今もSing-along","○",""],
                      ["SummerSpot","○",""],
                      ["なんでもないDays","○",""],
                      ["完全チェンジTHEワールド","○",""],
                      ["また戻っておいで","○",""],
                      ["また波を見てる","○",""],
                      ["I Hope You Miss Me a Little","○",""],
                      ["タコアゲ","○",""],
                    ]
                  )
                ]
          ) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'juusho', 
                'Sg', 
                '住所 feat.岡村靖幸', 
                Date.new(2018, 8, 29), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["住所 feat.岡村靖幸","○",""],
                      ["Keep It Up","○",""],
                      ["住所 feat.岡村靖幸(Inst.)","",""],
                      ["Keep It Up(Inst.)","",""],
                    ]
                  )
                ]
          ) %>

         </ul>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h3 class="title animated fadeIn" id="kreva">KREVA</h3>
          <ul>
            <%= generate_cd_view(
              'kibounohonoo', 
              'Sg', 
              '希望の炎', 
              Date.new(2004, 6, 18), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["希望の炎","○",""],
                    ["'1st album SELF LINERNOTES' (CD-EXTRA)","",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'neiro', 
              'Sg', 
              '音色', 
              Date.new(2004, 9, 8), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["音色","○",""],
                    ["音色Remix","△","アレンジ"] ,
                    ["コントロール","○",""] ,
                    ["音色(Inst.)","",""],
                    ["音色Remix(Inst.)","",""] ,
                    ["コントロール(Inst.)","",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'hitorijanainoyo', 
              'Sg', 
              'ひとりじゃないのよ Single Version', 
              Date.new(2004, 10, 20), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["ひとりじゃないのよ Single Version","○",""],
                    ["コトバにできない","○",""] ,
                    ["ひとりじゃないのよ Remix","△","アレンジ"] ,
                    ["ひとりじゃないのよ Single Version Instrumental","",""],
                    ["コトバにできない Instrumental","",""] ,
                    ["ひとりじゃないのよ Remix Instrumental","",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'shinjinkreva', 
              'Al', 
              "新人クレバ", 
              Date.new(2004, 11, 3), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["Dr.K","","歌詞非掲載"],
                    ["DAN DA DAN feat.CUEZERO","○",""],
                    ["音色","○",""],
                    ["あ･ら･らTake you home","○",""],
                    ["お祭りクレバ","○",""],
                    ["ファンキーグラマラス feat.Mummy-D","○",""],
                    ["スタンド･バイ･ミー feat.KANA","○",""],
                    ["Skit/Dr.K診療所","","歌詞非掲載"],
                    ["WAR WAR ZONE feat.CUEZERO","○",""],
                    ["You are the No.1 (Hey DJ) feat.BONNIE PINK","○",""],
                    ["You know we rule feat.NG HEAD","○",""],
                    ["希望の炎","○",""],
                    ["ひとりじゃないのよ feat.SONOMI (Album Version)","△","アレンジ"],
                    ["Baby Dancer Home Grown Remix (Bonus Track)","△","アレンジ"],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'funkyglomorous', 
              'Sg', 
              'ファンキーグラマラス', 
              Date.new(2005, 1, 13), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["ファンキーグラマラス feat.Mummy-D","○",""],
                    ["ファンキーグラマラス Part2 マボロシ feat.KREVA＜Dr.K Remix＞","","歌詞データ未入力"] ,
                    ["ファンキーグラマラス feat.Mummy-D＜ROCK-Tee's Funk-Tank Freak Show Remix＞","△","アレンジ"] ,
                    ["ファンキーグラマラス feat.Mummy-D Inst.","",""],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'issaigassai', 
              'Sg', 
              'イッサイガッサイ', 
              Date.new(2005, 6, 15), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["イッサイガッサイ","○",""],
                    ["KRAZY BOY,KRAZY GIRL","○",""] ,
                    ["all day,all night","○",""] ,
                    ["イッサイガッサイ Instrumental","",""],
                    ["KRAZY BOY,KRAZY GIRL Instrumental","",""] ,
                    ["all day,all night Instrumental","",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'start', 
              'Sg', 
              'スタート', 
              Date.new(2005, 9, 8), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["スタート","○",""],
                    ["いまさら2step","○",""] ,
                    ["I was a fool","○",""] ,
                    ["スタート(Instrumental)","",""],
                    ["いまさら2step(Instrumental)","",""] ,
                    ["I was a fool(Instrumental)","",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'kokumintekigyouji', 
              'Sg', 
              '国民的行事', 
              Date.new(2005, 12, 7), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["国民的行事","○",""],
                    ["Practice Session feat.SONOMI","","歌詞非掲載"] ,
                    ["国民的行事(Instrumental)","",""] ,
                    ["Practice Session feat.SONOMI(Instrumental)","",""],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">           
            <%= generate_cd_view(
              'aijibunhaku', 
              'Al', 
              "愛・自分博", 
              Date.new(2006, 2, 1), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["H.A.P.P.Y","○",""],
                    ["国民的行事","○",""],
                    ["It's for you","○",""],
                    ["いいと思う","○",""],
                    ["island life feat.SONOMI","○",""],
                    ["イッサイガッサイ","○",""],
                    ["涙止まれよ feat.SONOMI","○",""],
                    ["江戸川ロックオン","○",""],
                    ["暗闇のナビゲイラ","○",""],
                    ["トリートメント feat.DABO,CUEZERO","○",""],
                    ["スタート","○",""],
                    ["My Life","○",""],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'haveaniceday', 
              'Sg', 
              'Have a nice day!', 
              Date.new(2006, 8, 2), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["Have a nice day!","○",""],
                    ["Have a nice day! (Re-Mix)","△","アレンジ"] ,
                    ["今夜はブギー・バック","","歌詞非掲載"] ,
                    ["Have a nice day!(Instrumental)","",""],
                    ["次回予告1","",""],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'theshow', 
              'Sg', 
              'THE SHOW', 
              Date.new(2006, 11, 1), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["THE SHOW","○",""],
                    ["Have a nice day! -Live Ver.-","△","Live"] ,
                    ["THE SHOW -Inst.-","",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'aggressibu', 
              'Sg', 
              'アグレッシ部', 
              Date.new(2007, 3, 14), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["アグレッシ部","○",""],
                    ["THE SHOW(熊井吾郎Remix)","△","アレンジ"] ,
                    ["口元に笑み","○",""] ,
                    ["アグレッシ部(Inst.)","",""],
                    ["THE SHOW(熊井吾郎Remix Inst.)","",""] ,
                    ["口元に笑み(Inst.)","",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'bestofmixcdno1', 
              'Al', 
              "BEST of MIXCD NO.1", 
              Date.new(2007, 3, 14), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["INTRO","","Instrumental"],
                    ["イッサイガッサイ","△","アレンジ"],
                    ["My Life","△","アレンジ"],
                    ["island life","△","アレンジ"],
                    ["希望の炎","△","アレンジ"],
                    ["You are the No.1(Hey DJ)","△","アレンジ"],
                    ["Have a nice day!(Remix)","△","アレンジ"],
                    ["all day,all night","△","アレンジ"],
                    ["Practice Session","","歌詞非掲載"],
                    ["THE SHOW","△","アレンジ"],
                    ["暗闇のナビゲイラ","△","アレンジ"],
                    ["音色","△","アレンジ"],
                    ["ひとりじゃないのよ Remix","△","アレンジ"],
                    ["涙止まれよ","△","アレンジ"],
                    ["I was a fool BEAT","","Instrumental"],
                    ["It's for you","△","アレンジ"],
                    ["OUTRO","","Instrumental"],
                  ]
                ),
                CdData.new(
                  "Disc2",
                  [
                    ["My Life","","Instrumental"],
                    ["island life","","Instrumental"],
                    ["希望の炎","","Instrumental"],
                    ["You are the No.1 (Hey DJ)","","Instrumental"],
                    ["Have a nice day！(Remix)","","Instrumental"],
                    ["Practice Session","","Instrumental"],
                    ["暗闇のナビゲイラ","","Instrumental"],
                    ["涙止まれよ","","Instrumental"],
                    ["It's for you","","Instrumental"],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'kurebaiinoni', 
              'Sg', 
              'くればいいのに feat.草野マサムネ from SPITZ (Single Edit)', 
              Date.new(2007, 6, 20), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["くればいいのにfeat.草野マサムネ from SPITZ (Single Edit)","○",""],
                    ["くればいいのにfeat.草野マサムネ from SPITZ (Single Edit Inst.)","",""] ,
                    ["JUMP ON IT","○",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'yoroshikuonegaishimasu', 
              'Al', 
              "よろしくお願いします", 
              Date.new(2007, 9, 5), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["ストロングスタイル","○",""],
                    ["THE SHOW","○",""],
                    ["YOU DON'T STOP!!","○",""],
                    ["揺さぶるブルー","○",""],
                    ["ビコーズ","○",""],
                    ["You are my sunshine feat.千晴","○",""],
                    ["今日だけでいい feat.SONOMI & ALI-KICK","○",""],
                    ["ため息はCO2","○",""],
                    ["くればいいのに feat.草野マサムネ from SPITZ(ALBUM VERSION)","△","アレンジ"],
                    ["東西南北脳内回想録","○",""],
                    ["SWEET SWEET メモリーズ feat.SONOMI","○",""],
                    ["アグレッシ部","○",""],
                    ["終わりたくないオーワラナイ","○",""],
                    ["THE SHOW (熊井吾郎Remix)","△","アレンジ"],
                    ["Have a nice day!","○",""],
                    ["アグレッシ部 (Remix) feat.KOHEI JAPAN & SHINGO☆西成","△","アレンジ。HOOK以外別歌詞"],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'strongstyle', 
              'Sg', 
              'ストロングスタイル', 
              Date.new(2007, 10, 3), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["ストロングスタイル","○",""],
                    ["ビコーズ","○",""] ,
                    ["ストロングスタイル(Inst.)","",""],
                    ["ビコーズ(Inst.)","",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'ao', 
              'Sg', 
              '青', 
              Date.new(2009, 3, 18), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["成功","○",""],
                    ["I Wanna Know You","○",""] ,
                    ["生まれてきてありがとう(feat.さかいゆう)","○",""],
                    ["So Sexy","○",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'krevanobestban', 
              'Al', 
              "クレバのベスト盤", 
              Date.new(2008, 3, 19), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["ストロングスタイル","○",""],
                    ["ビコーズ","○",""],
                    ["くればいいのにfeat.草野マサムネ from SPITZ (Single Edit)","○",""],
                    ["アグレッシ部","○",""],
                    ["THE SHOW","○",""],
                    ["Have a nice day!","○",""],
                    ["H.A.P.P.Y","○",""],
                    ["It's for you","○",""],
                    ["国民的行事","○",""],
                    ["スタート","○",""],
                    ["イッサイガッサイ","○",""],
                    ["ファンキーグラマラス feat.Mummy-D from Rhymester/マボロシ","○",""],
                    ["ひとりじゃないのよ feat.SONOMI","○",""],
                    ["音色","○",""],
                    ["希望の炎","○",""],
                    ["あかさたなはまやらわをん","○",""],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'aka_kreva', 
              'Sg', 
              '赤', 
              Date.new(2009, 7, 8), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["瞬間speechless","○",""],
                    ["君に、胸キュン。-浮気なヴァカンス-","○",""] ,
                    ["瞬間speechless(inst)","",""],
                    ["君に、胸キュン。-浮気なヴァカンス-(Inst.)","",""] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'shinzou', 
              'Al', 
              "心臓", 
              Date.new(2009, 9, 4), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["K.I.S.S.","○",""],
                    ["瞬間speechless","○",""],
                    ["これがFall In Love","○",""],
                    ["Tears In My Eyes","○",""],
                    ["リズム","○",""],
                    ["シンクロ feat.古内東子","○",""],
                    ["Tonight","○",""],
                    ["心臓","","歌詞非掲載"],
                    ["ACE","○",""],
                    ["成功","○",""],
                    ["中盤戦 feat.Mummy-D","○",""],
                    ["I Wanna Know You","○",""],
                    ["キャラメルポップコーン feat.将絢 from Romancrew","○",""],
                    ["生まれてきてありがとう feat.さかいゆう","○",""],
                    ["この先どうなる?","○",""],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'oasys', 
              'Al', 
              "OASYS", 
              Date.new(2010, 9, 15), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["道なき道","○",""],
                    ["かも","○",""],
                    ["たられば feat SONOMI","○",""],
                    ["最終回","○",""],
                    ["エレクトロ・アース・トラックス","○",""],
                    ["Oasys","","Instrumental"],
                    ["Changing Same","○",""],
                    ["Reprise ～道なき道～","△","「道なき道」と同歌詞"],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'idome', 
              'Sg', 
              '挑め', 
              Date.new(2011, 2, 16), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["挑め","○",""],
                    ["ベステンダンク","○",""] ,
                    ["挑め Remix feat. MCU & LITTLE","△","アレンジ。HOOK以外別歌詞"],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'cmonletsgo', 
              'Sg', 
              "C'mon, Let's go", 
              Date.new(2011, 5, 11), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["C'mon, Let's go","○",""],
                    ["マカー GB-mix feat.AKLO,L-VOKAL(BETTER HALVES)","○",""] ,
                    ["C'mon, Let's go(Inst.)","",""],
                    ["C'mon, Let's go(with hook)","",""],
                    ["C'mon, Let's go(Acappella)","△","ボーカルパートのみ"],
                    ["マカー GB-mix feat.AKLO,L-VOKAL(BETTER HALVES)(Inst.)","",""],
                    ["マカー GB-mix feat.AKLO,L-VOKAL(BETTER HALVES)(Acappella)","△","ボーカルパートのみ"],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'tankyushin', 
              'Sg', 
              "Tan-Kyu-Shin / KILA KILA", 
              Date.new(2011, 7, 20), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["Tan-Kyu-Shin","○",""],
                    ["KILA KILA","○",""] ,
                    ["Tan-Kyu-Shin(Inst.)","",""],
                    ["Tan-Kyu-Shin(アニメver)","△","アレンジ"],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'kilakila', 
              'Sg', 
              "KILA KILA / Tan-Kyu-Shin", 
              Date.new(2011, 7, 20), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["KILA KILA","○",""] ,
                    ["Tan-Kyu-Shin","○",""],
                    ["ハヒヘホ feat. SHINGO★西成","○",""],
                    ["KILA KILA(Inst.)","",""] ,
                    ["KILA KILA(with hook)","",""] ,
                    ["KILA KILA(Acappella)","△","ボーカルパートのみ"] ,
                    ["ハヒヘホ feat. SHINGO★西成(Inst.)","",""],
                    ["ハヒヘホ feat. SHINGO★西成(Acappella)","△","ボーカルパートのみ"],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'go', 
              'Al', 
              "GO", 
              Date.new(2011, 9, 8), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["基準","○",""],
                    ["挑め","○",""],
                    ["KILA KILA","○",""],
                    ["蜃気楼 feat. 三浦大知","○",""],
                    ["呪文","○",""],
                    ["runnin' runnin'","○",""],
                    ["HOT SUMMER DAYS","○",""],
                    ["微炭酸シンドローム feat. 阿部真央","○",""],
                    ["パーティーはIZUKO?","○",""],
                    ["C'mon, Let's go","○",""],
                    ["EGAO","○",""],
                    ["探究心","○",""],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'bestofmixcdno2', 
              'Al', 
              "BEST of MIXCD NO.2", 
              Date.new(2012, 2, 22), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["かも","△","アレンジ"],
                    ["シンクロ","△","アレンジ"],
                    ["道なき道","△","アレンジ"],
                    ["runnin‘runnin’","△","アレンジ"],
                    ["くればいいのに","△","アレンジ"],
                    ["HOT SUMMER DAYS","△","アレンジ"],
                    ["I Wanna Know You","△","アレンジ"],
                    ["探究心","△","アレンジ"],
                    ["キャラメルポップコーン","△","アレンジ"],
                    ["たられば","△","アレンジ"],
                    ["Changing Same","△","アレンジ"],
                    ["成功","△","アレンジ"],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'nanana', 
              'Sg', 
              "Na Na Na", 
              Date.new(2012, 9, 5), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["Na Na Na","○",""] ,
                    ["No More Mr. NiceGuy feat. KEN THE 390, AKLO","○",""],
                    ["Na Na Na(inst.)","",""],
                    ["No More Mr. NiceGuy feat. KEN THE 390, AKLO(inst.)","",""] ,
                    ["Na Na Na(Acappella)","△","ボーカルパートのみ"] ,
                    ["No More Mr. NiceGuy feat. KEN THE 390, AKLO(Acappella)","△","ボーカルパートのみ"] ,
                    ["あかさたなはまやらわをん-2012 Re-Mix-","△","アレンジ"] ,
                    ["あかさたなはまやらわをん-2012 Re-Mix-(inst.)","",""],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'oujanokyuujitsu', 
              'Sg', 
              "王者の休日", 
              Date.new(2013, 1, 16), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["王者の休日","○",""] ,
                    ["No More Mr. NiceGuy Remix feat. KEN THE 390, AKLO, 坂本美雨","△","アレンジ"],
                    ["王者の休日(Inst.)","",""],
                    ["王者の休日(Acappella)","△","ボーカルパートのみ"] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'spaceinstrumentals', 
              'Al', 
              "SPACE Instrumentals", 
              Date.new(2013, 2, 20), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["space4space 1","","Instrumental"],
                    ["SPACE","","Instrumental"],
                    ["Feel It In The Air","","Instrumental"],
                    ["ma chèrie’","","Instrumental"],
                    ["王者の休日","","Instrumental"],
                    ["space4space 2","","Instrumental"],
                    ["俺は Do It Like This","","Instrumental"],
                    ["調理場","","Instrumental"],
                    ["言ってなカッタカナ?","","Instrumental"],
                    ["OH YEAH","","Instrumental"],
                    ["space4space 3","","Instrumental"],
                    ["Space Dancer","","Instrumental"],
                    ["Link","","Instrumental"],
                    ["space4space 4","","Instrumental"],
                    ["Na Na Na","","Instrumental"],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'space', 
              'Al', 
              "SPACE", 
              Date.new(2013, 2, 27), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["space4space 1","","Instrumental"],
                    ["SPACE","○",""],
                    ["Feel It In The Air","○",""],
                    ["ma chèrie’","○",""],
                    ["王者の休日","○",""],
                    ["space4space 2","","Instrumental"],
                    ["俺は Do It Like This","○",""],
                    ["調理場","○",""],
                    ["言ってなカッタカナ?","○",""],
                    ["OH YEAH","○",""],
                    ["space4space 3","","Instrumental"],
                    ["Space Dancer","○",""],
                    ["Link","○",""],
                    ["space4space 4","","Instrumental"],
                    ["Na Na Na","○",""],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'beshi', 
              'Sg', 
              "BESHI", 
              Date.new(2013, 8, 28), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["BESHI","○",""] ,
                    ["世界の中心","○",""],
                    ["BESHI(Inst.)","",""],
                    ["BESHI(Acappella)","△","ボーカルパートのみ"] ,
                    ["世界の中心(Inst.)","",""],
                    ["世界の中心(Acappella)","△","ボーカルパートのみ"] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'livealbumspacetour', 
              'Al', 
              "LIVE ALBUM SPACE TOUR", 
              Date.new(2013, 12, 4), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["space4space 1","","Instrumental"],
                    ["SPACE","△","Live"],
                    ["Feel It In The Air","△","Live"],
                    ["基準","△","Live"],
                    ["ストロングスタイル","△","Live"],
                    ["俺は Do It Like This","△","Live"],
                    ["I REP","","歌詞データ未入力"],
                    ["調理場","△","Live"],
                    ["言ってなカッタカナ?","△","Live"],
                    ["OH YEAH","△","Live"],
                    ["space4space 3","","Instrumental"],
                    ["I Wanna Know You","△","Live"],
                    ["瞬間speechless","△","Live"],
                    ["EGAO","△","Live"],
                    ["ma chèrie’","△","Live"],
                    ["スタート","△","Live"],
                    ["音色","△","Live"],
                  ]
                ),
                CdData.new(
                  "Disc2",
                  [
                    ["イッサイガッサイ","△","Live"],
                    ["ひとりじゃないのよ feat. SONOMI","△","Live"],
                    ["遠くまで feat. KREVA","","歌詞データ未入力"],
                    ["成功","△","Live"],
                    ["C'mon, Let's go","△","Live"],
                    ["Changing Same","△","Live"],
                    ["Link","△","Live"],
                    ["アグレッシ部","△","Live"],
                    ["KILA KILA","△","Live"],
                    ["space4space 4","","Instrumental"],
                    ["Na Na Na","△","Live"],
                    ["王者の休日","△","Live"],
                    ["BESHI","△","Live"],
                    ["あかさたなはまやらわをん","△","Live"],
                    ["Space Dancer","△","Live"],
                    ["Have a nice day","△","Live"],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'tranquilizer', 
              'Sg', 
              "トランキライザー", 
              Date.new(2014, 2, 5), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["トランキライザー","○",""] ,
                    ["稲光","○",""],
                    ["トランキライザー(Inst.)","",""],
                    ["稲光(Inst.)","",""],
                    ["トランキライザー(Acappella)","△","ボーカルパートのみ"] ,
                    ["稲光(Acappella)","△","ボーカルパートのみ"] ,
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'kx', 
              'Al', 
              "KX", 
              Date.new(2014, 6, 18), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["全速力 feat.三浦大知","","歌詞データ未入力"],
                    ["トランキライザー","○",""],
                    ["BESHI","○",""],
                    ["王者の休日","○",""],
                    ["Na Na Na","○",""],
                    ["OH YEAH","○",""],
                    ["基準","○",""],
                    ["KILA KILA","○",""],
                    ["言ってなカッタカナ?","○",""],
                    ["OH YEAH","○",""],
                    ["C'mon, Let's go","○",""],
                    ["挑め","○",""],
                    ["かも","○",""],
                    ["瞬間speechless","○",""],
                    ["生まれてきてありがとう feat.さかいゆう","○",""],
                    ["I Wanna Know You","○",""],
                    ["成功","○",""],
                  ]
                ),
                CdData.new(
                  "Disc2",
                  [
                    ["ストロングスタイル","○",""],
                    ["ビコーズ","○",""],
                    ["くればいいのに feat.草野マサムネ from SPITZ","○",""],
                    ["THE SHOW","○",""],
                    ["Have a nice day!","○",""],
                    ["It's for you","○",""],
                    ["国民的行事","○",""],
                    ["スタート","○",""],
                    ["イッサイガッサイ","○",""],
                    ["ファンキーグラマラス feat.Mummy-D","○",""],
                    ["ひとりじゃないのよ feat.SONOMI","○",""],
                    ["音色","○",""],
                    ["希望の炎","○",""],
                    ["Revolution","","歌詞データ未入力"],
                  ]
                ),
                CdData.new(
                  "Disc3",
                  [
                    ["微炭酸シンドローム feat.阿部真央","○",""],
                    ["EGAO","○",""],
                    ["Changing Same","○",""],
                    ["たられば feat.SONOMI","○",""],
                    ["シンクロ feat.古内東子","○",""],
                    ["中盤戦 feat.Mummy-D","○",""],
                    ["裏切り御免 [KREVA BEAT REMIX]","","歌詞データ未入力"],
                    ["今夜はブギー・バック","","歌詞データ未入力"],
                    ["DAN DA DAN feat.CUEZERO","○",""],
                    ["You are the No.1 (Hey DJ) feat.BONNIE PINK","○",""],
                  ]
                ),
                CdData.new(
                  "Disc4",
                  [
                    ["ひかり","","歌詞データ未入力"],
                    ["Nothing","","歌詞データ未入力"],
                    ["目を閉じれば無数の星","","歌詞データ未入力"],
                    ["忘れずにいたいもの","","歌詞データ未入力"],
                    ["夏サマサマ feat.千晴（Roughmix）","","歌詞データ未入力"],
                    ["ハッピーメリークリスマス(Demo)","","歌詞データ未入力"],
                    ["908 FESTIVAL 2012 オープニングテーマ","","Instrumental"],
                    ["908 FESTIVAL 2013 オープニングテーマ","","Instrumental"],
                    ["space4space 5（Demo）","","Instrumental"],
                    ["BESHI ?Band Recording Ver.- take8（Roughmix）","△","アレンジ"],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'underthemoon', 
              'Sg', 
              "Under The Moon", 
              Date.new(2015, 2, 25), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["Under The Moon","○",""] ,
                    ["これでよければいくらでも","○",""],
                    ["47都道府県ラップ","○",""],
                    ["Under The Moon(Inst.)","",""],
                    ["これでよければいくらでも(Inst.)","",""],
                    ["47都道府県ラップ(Inst.)","",""],
                  ]
                )
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'usotobonnou', 
              'Al', 
              "嘘と煩悩", 
              Date.new(2017, 2, 1), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["嘘と煩悩","○",""],
                    ["神の領域","○",""],
                    ["居場所","○",""],
                    ["想い出の向こう側 feat. AKLO","○",""],
                    ["FRESH MODE","○",""],
                    ["Sanzan feat. 増田有華","○",""],
                    ["ってかもう","○",""],
                    ["あえてそこ (攻め込む)","○",""],
                    ["タビカサナル","○",""],
                    ["もう逢いたくて","○",""],
                    ["君に夢中","○",""],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'sonzaikan', 
              'Sg', 
              "存在感", 
              Date.new(2018, 8, 22), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["INTRO","","Instrumental"],
                    ["存在感","○",""],
                    ["俺の好きは狭い","○",""],
                    ["健康","○",""],
                    ["百人一瞬","○",""],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'seichounokiroku', 
              'Al', 
              "成長の記録　～全曲バンドで録り直し～", 
              Date.new(2019, 6, 19), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["Na Na Na ～2019 Ver.～","△","アレンジ"],
                    ["パーティーはIZUKO? ～2019 Ver.～","△","アレンジ"],
                    ["基準 ～2019 Ver.～","△","アレンジ"],
                    ["ストロングスタイル ～2019 Ver.～","△","アレンジ"],
                    ["トランキライザー ～2019 Ver.～","△","アレンジ"],
                    ["イッサイガッサイ ～2019 Ver.～","△","アレンジ"],
                    ["王者の休日 ～2019 Ver.～","△","アレンジ"],
                    ["I Wanna Know You ～2019 Ver.～","△","アレンジ"],
                    ["存在感 ～2019 Ver.～","△","アレンジ"],
                    ["成功 ～2019 Ver.～","△","アレンジ"],
                    ["KILA KILA ～2019 Ver.～","△","アレンジ"],
                    ["かも ～2019 Ver.～","△","アレンジ"],
                    ["居場所 ～2019 Ver.～","△","アレンジ"],
                    ["アグレッシ部 ～2019 Ver.～","△","アレンジ"],
                    ["スタート ～2019 Ver.～","△","アレンジ"],
                    ["音色 ～2019 Ver.～","△","アレンジ"],
                    ["C'mon, Let's go ～2019 Ver.～","△","アレンジ"],
                  ]
                ),
              ]
            ) %>
            <hr class="fade-2">
            <%= generate_cd_view(
              'aftermixtape', 
              'Al', 
              "AFTERMIXTAPE", 
              Date.new(2019, 9, 18), 
              [
                CdData.new(
                  "Disc1",
                  [
                    ["MIX / TAPE","","Instrumental"],
                    ["敵がいない国","",""],
                    ["One feat. JQ from Nulbarich","",""],
                    ["S.O.S.が出る前に","",""],
                    ["アイソレーター","",""],
                    ["リアルドクター K","",""],
                    ["人生","",""],
                    ["Don't Stop Y'all, Rock Rock Y'all","","Instrumental"],
                    ["もしかしない","",""],
                    ["無煙狼煙","",""],
                    ["それとこれとは話が別! feat. 宇多丸, 小林賢太郎","",""],
                    ["君の愛 Bring Me To Life","",""],
                  ]
                ),
              ]
            ) %>
         </ul>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h3 class="title animated fadeIn" id="little">LITTLE</h3>
        <ul>
          <%= generate_cd_view(
                'iino', 
                'Al', 
                'いいの', 
                Date.new(1998, 11, 15), 
                [
                  CdData.new(
                    "Disc1",
                    [["いいの","○",""],
                    ["ジゴロメン","○",""] ,
                    ["レスキュー（featuring DOHZI-T）","○",""], 
                    ["ハンティング・ワールド（featuring CASSETE VISION）","○",""]])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'childplay', 
                'Sg', 
                'CHILD PLAY', 
                Date.new(2000, 3, 29), 
                [
                  CdData.new(
                    "Disc1",
                    [["CHILD PLAY","○",""],
                    ["レスキュー('BLUESBREAKER MIX' featuring SHIGEO from スケボーキング）","△","アレンジ"] ,
                    ["DOG FOOD","○",""]])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'mrcompact', 
                'Al', 
                'Mr.COMPACT', 
                Date.new(2001, 12, 5), 
                [
                  CdData.new(
                    "Disc1",
                    [["Mr.Compact","○",""],
                    ["MC〜殺人マイクを持つ男〜","","歌詞非掲載"] ,
                    ["ワックマン","○",""] ,
                    ["灯","","歌詞非掲載"] ,
                    ["ライムライト","○",""] ,
                    ["不純異性交遊","○",""] ,
                    ["不純異性交遊Part.2 feat.INNOSENCE","○",""] ,
                    ["レスキュー〜LAST TAKE〜","△","アレンジ"] ,
                    ["WAR ZONE feat.童子-T","○",""] ,
                    ["西TOKYO TRIBE feat. FREGRANCE","○",""] ,
                    ["いいの feat. 坂本美雨","△","アレンジ。一部歌詞違い"] ,
                    ["BE-BOP NEW SCHOOL feat.GANXSTA D-X、FREGRANCE、オチ","○",""] ,
                    ["中央自由WAY feat. meg","○",""] ,
                    ["剣と楯","","歌詞非掲載"]])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'isingisay', 
                'Sg', 
                'I SING, I SAY', 
                Date.new(2004, 7, 21), 
                [
                  CdData.new(
                    "Disc1",
                    [["I SING, I SAY","○",""],
                    ["サバーバリアン feat. Loop Junktion ","○",""] ,
                    ["踏み上がり feat. BOLT, SKIPP, YOSHI","○",""] ,
                    ["I SING, I SAY(Instrumental)","",""],
                    ["サバーバリアン feat. Loop Junktion(Instrumental)","",""] ,
                    ["踏み上がり feat. BOLT, SKIPP, YOSHI(Instrumental)","",""]
                  ])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'seijagamachiniyattekuru', 
                'Sg', 
                '聖者が街にやってくる', 
                Date.new(2004, 11, 24), 
                [
                  CdData.new(
                    "Disc1",
                    [["聖者が街にやってくる","○",""],
                    ["12月","○",""] ,
                    ["いいの2004","△","アレンジ"] ,
                    ["聖者が街にやってくる(Instrumental)","",""],
                    ["12月(Instrumental)","",""] ,
                    ["聖者が街にやってくる (a cappella)","△","ボーカルパートのみ"]
                  ])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'hatsukoino', 
                'Sg', 
                "はつ恋の 〜What's Going On〜 feat. トータス松本", 
                Date.new(2005, 5, 18), 
                [
                  CdData.new(
                    "Disc1",
                    [["はつ恋の 〜What's Going On〜 feat. トータス松本","○",""],
                    ["はつ恋の 〜What's Going On〜 feat. トータス松本 (Ver.2.0)","△","アレンジ"] ,
                    ["聖者が街にやってくる (DJ SUZUKI Remix)","△","アレンジ"] ,
                    ["はつ恋の 〜What's Going On〜 feat. トータス松本(Instrumental)","",""],
                    ["はつ恋の 〜What's Going On〜 feat. トータス松本 (Ver.2.0 Instrumental)","",""] ,
                    ["聖者が街にやってくる (DJ SUZUKI Remix Instrumental)","",""] ,
                  ])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'life', 
                'Al', 
                "LIFE", 
                Date.new(2005, 6, 22), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["LITTLE","○",""],
                      ["I SING, I SAY","○",""] ,
                      ["はつ恋の〜What's Going On〜 feat.トータス松本","○",""] ,
                      ["UNKO SHIT!","○",""] ,
                      ["RAPが好き","○",""] ,
                      ["小さな島で健やかに ","○",""] ,
                      ["踊らソカ feat.Keyco、CORN HEAD","○",""] ,
                      ["姫御前 ","","歌詞非掲載"] ,
                      ["愛幻夢恋絵巻 ","○",""] ,
                      ["Youth & Youth feat.童子-T","○",""] ,
                      ["HARD硬派 Part2　feat.ZINGI","○",""] ,
                      ["聖者が街にやってくる","○",""] ,
                      ["I love you miss microphone feat. DJ KAORI","○",""] ,
                      ["LIFELINE BABY","○",""] ,
                  ])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'onemanshow', 
                'Sg', 
                "ワンマンショウ", 
                Date.new(2005, 6, 22), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["ワンマンショウ","○",""],
                      ["アゲイン","○",""] ,
                      ["ごあいさつ","○",""] ,
                  ])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'yumenosei', 
                'Sg', 
                "夢のせい", 
                Date.new(2007, 10, 10), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["夢のせい","○",""],
                      ["MIC MAN SOUL feat. Q-RIPPER from MADHAND","○",""] ,
                      ["& JOYRIDE","○",""] ,
                  ])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'yesrhymedentity', 
                'Al', 
                '"Yes"rhyme-dentity', 
                Date.new(2008, 5, 7), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["KARMA feat. BIG RON","○",""],
                      ["Gradation feat. MICRO, SMALLEST, SHOGO","○",""],
                      ["Sing Sing Sing","○",""],
                      ["Stand by me","○",""],
                      ["Very Special","○",""],
                      ["FREE STYLE男女 feat. COMA-CHI","○",""],
                      ["恋のクロスフェーダー","○",""],
                      ["彼方","○",""],
                      ["楽 feat. Metis","○",""],
                      ["ワンマンショウ（album ver.）","△","アレンジ"],
                      ["夢のせい","○",""],
                      ["足跡の中を旅してる feat. CUEZERO, 童子-T, Mummy-D","○",""],
                      ["Yes!! ～a raison D'tre～","○",""],
                  ])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'akalititle1', 
                'Al', 
                'アカリタイトル1', 
                Date.new(2014, 2, 12), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["all need is MUSIC","○",""],
                      ["FUNKY ウーロンハイ","○",""],
                      ["おれたちの進化論","○",""],
                      ["おれたちのイマジン feat. 浜崎貴司","○",""],
                      ["いったいぜんたい","○",""],
                      ["Don't worry Be happy Go lucky","○",""],
                      ["and you…","○",""],
                      ["ゲリラ豪雨 feat. SHUN","○",""],
                      ["愛はある","○",""],
                      ["D.R.E.A.M","","歌詞非掲載"],
                  ])
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
                'akalititle2', 
                'Al', 
                'アカリタイトル2', 
                Date.new(2015, 8, 12), 
                [
                  CdData.new(
                    "Disc1",
                    [
                      ["バルバロイ","○",""],
                      ["Bad Boy 武士","○",""],
                      ["Beach Sun Girl feat. Una","○",""],
                      ["七月の海月","○",""],
                      ["tenohira","○",""],
                      ["Check It 拉麺","○",""],
                      ["アイデアル","○",""],
                      ["おはよう～おやすみ feat. SONOMI","○",""],
                      ["Generation R feat. SIMON JAP, MISTA O.K.I","○",""],
                      ["ドラマツルギー","○",""],
                  ])
          ]) %>
        </ul>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h3 class="title animated fadeIn" id="mcu">MCU</h3>
        <ul>
          <%= generate_cd_view(
            'shiawasedearuyouni', 
            'Sg', 
            '幸せであるように', 
            Date.new(2002, 12, 23), 
            [
              CdData.new(
                "Disc1",
                [
                  ["幸せであるように(MCU feat.浜崎貴司)","○",""],
                  ["僕はぬけがらだけおいてきたよ(MCU feat.CHABA)","○",""] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'surfrider', 
            'Sg', 
            'サーフライダー', 
            Date.new(2004, 7, 28), 
            [
              CdData.new(
                "Disc1",
                [
                  ["サーフライダー(MCU feat.浜崎貴司)","○",""],
                  ["6月の未完成(MCU feat.浜崎貴司)","○",""] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'arigatou', 
            'Sg', 
            'ありがとう', 
            Date.new(2005, 3, 9), 
            [
              CdData.new(
                "Disc1",
                [
                  ["ありがとう(MCU feat.宮沢和史)","○",""],
                  ["ACT ON MY STYLE(MCU feat.RATHER UNIQUE & 川上次郎)","○",""] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'apeacetimemcu', 
            'Al', 
            'A Peacetime MCU', 
            Date.new(2005, 5, 11), 
            [
              CdData.new(
                "Disc1",
                [
                  ["FUMIKA'S VOICE","","歌詞非掲載"],
                  ["U'S PROFILE(MCU feat.TAKUYA)","○",""] ,
                  ["ビカビカ(MCU feat.THEATRE BROOK)","○",""] ,
                  ["クレイジービンズ(MCU feat.ジェット機)","○",""] ,
                  ["サーフライダー (MCU feat.浜崎貴司)","○",""] ,
                  ["いいわけ(MCU feat.Ryoji)","○",""] ,
                  ["マイクチェック1(MCU feat.WADA)","○",""] ,
                  ["マイクチェック2(MCU feat.TSUBOI)","○",""] ,
                  ["しし座のA型(MCU feat.KOHEI JAPAN)","○",""] ,
                  ["SALT SCATTER(MCU feat.EL-MALO)","○",""] ,
                  ["NO DESTINATION(MCU feat.森重樹一)","○",""] ,
                  ["B.A.M.O.R.A.(MCU feat.175R)","○",""] ,
                  ["陽の光をあびて(MCU feat.高野寛)","○",""] ,
                  ["ありがとう(MCU feat.宮沢和史)","○",""] ,
                  ["影ふみ(MCU feat.CHABA)","○",""] ,
                  ["幸せであるように(同級生remix)(MCU feat.浜崎貴司)","△","アレンジ"] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'mcuinwonderland', 
            'Sg', 
            'MCU in WONDERLAND e.p.', 
            Date.new(2006, 5, 17), 
            [
              CdData.new(
                "Disc1",
                [
                  ["トワイライトタイム","○",""],
                  ["Recollection","○",""] ,
                  ["手のひら re-birth","○",""] ,
                  ["FUNKY JET","○",""] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'nukumori', 
            'Sg', 
            'nukumori', 
            Date.new(2006, 11, 22), 
            [
              CdData.new(
                "Disc1",
                [
                  ["nukumori","○",""],
                  ["this song","○",""] ,
                  ["サーフライダー TAICHI MASTER 33FUNK MIX","△","アレンジ"] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'omoide', 
            'Sg', 
            'omoide', 
            Date.new(2007, 3, 21), 
            [
              CdData.new(
                "Disc1",
                [
                  ["omoide","○",""],
                  ["wonderful","○",""] ,
                  ["nukumori bossa re-work","△","アレンジ"] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'sayonara', 
            'Sg', 
            'サヨナラ', 
            Date.new(2007, 5, 23), 
            [
              CdData.new(
                "Disc1",
                [
                  ["サヨナラ","○",""],
                  ["DEAR","○",""] ,
                  ["omoide LOW JACK remix","△","アレンジ"] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'aka_mcu', 
            'Al', 
            'A.K.A', 
            Date.new(2007, 6, 20), 
            [
              CdData.new(
                "Disc1",
                [
                  ["シーサイド・ばいばい MCU ver","△","アレンジ。一部別歌詞。"],
                  ["BURN feat. TAS from MADHAND,TSUBOI,KOHEI JAPAN,童子-T","○",""] ,
                  ["SUGAMO-B 弐 feat.Q","○",""] ,
                  ["A re-present BMG feat.MCK","○",""] ,
                  ["SUMMER CARNAVAL","○",""] ,
                  ["omoide","○",""] ,
                  ["nukumori","○",""] ,
                  ["サヨナラ album extended ver.","△","アレンジ"] ,
                  ["1973","○",""] ,
                  ["The beginning","","歌詞非掲載"] ,
                  ["Hey Johnny","○",""] ,
                  ["HERO","○",""] ,
                  ["Under My Martial Law feat.デーモン小暮閣下","○",""] ,
                  ["A.K.A～僕がいればいいと想う～","○",""] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'superstar', 
            'Sg', 
            'SUPERSTAR', 
            Date.new(2009, 1, 21), 
            [
              CdData.new(
                "Disc1",
                [
                  ["SUPERSTAR","○",""],
                  ["マイクロフォンマスター","○",""] ,
                  ["この間やったHIP HOP Hallelujahっていうワンマンライブ。ちなみに45分くらい入ってます。どうでSHOW!","","Live"] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'shuhari', 
            'Al', 
            'SHU・HA・RI〜STILL LOVE〜', 
            Date.new(2009, 3, 11), 
            [
              CdData.new(
                "Disc1",
                [
                  ["STILL LOVE featuring TERU","○",""],
                  ["SUPERSTAR","○",""] ,
                  ["カエリミチ","○",""] ,
                  ["十中八九","○",""] ,
                  ["FREE 3MC'S 1 featuring CHANNEL, FORK","○",""] ,
                  ["マイク2本 featuring MAC THE SEIKO","○",""] ,
                  ["I NEED LOVE featuring KOHEI JAPAN","○",""] ,
                  ["FREE 3MC'S 2 featuring FOURD、SHIMA","○",""] ,
                  ["グッドイナフ","○",""] ,
                  ["涙のtake a chance","○",""] ,
                  ["JUMP少年","○",""] ,
                  ["HYOMA","○",""] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'givmegivmenightfever', 
            'Sg', 
            'ギミギミ・ナイトフィーバー', 
            Date.new(2009, 12, 2), 
            [
              CdData.new(
                "Disc1",
                [
                  ["ギミギミ・ナイトフィーバー","○",""],
                  ["Christmas for U","○",""] ,
                  ["ラブナビ","○",""] ,
                  ["ラブナビ \"HIP HOP DRIVIN' MIX\" by 千晴＆マロニー","△","アレンジ"] ,
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'bestofmcu', 
            'Al', 
            'BEST OF MCU', 
            Date.new(2010, 2, 10), 
            [
              CdData.new(
                "Disc1",
                [
                  ["いいわけ","○",""],
                  ["STILL LOVE featuring TERU","○",""],
                  ["シーサイド・ばいばい (MCU ver.)","△","アレンジ。一部別歌詞"],
                  ["nukumori","○",""],
                  ["サヨナラ","○",""],
                  ["omoide","○",""],
                  ["B.A.M.O.R.A.","○",""],
                  ["サーフライダー","○",""],
                  ["ありがとう","○",""],
                  ["マイク2本 featuring MAC THE SEIKO","○",""],
                  ["SUPERSTAR","○",""],
                  ["Recollection","○",""],
                  ["幸せであるように","○",""],
                  ["ギミギミ・ナイトフィーバー","○",""],
                  ["YOU詩","○",""],
                ]
              )
          ]) %>
        </ul>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h3 class="title animated fadeIn" id="ul">UL</h3>
        <ul>
        <%= generate_cd_view(
          'ultrap', 
          'Al', 
          'ULTRAP', 
          Date.new(2014, 3, 5), 
          [
            CdData.new(
              "Disc1",
              [
                ["UL-TRAP","○",""],
                ["ULTRA-P","○",""],
                ["La vie én Rose","○",""],
                ["夏歌詩","○",""],
                ["祭り feat.TSUBOI(アルファ)","○",""],
                ["STEP BY STEP","○",""],
                ["夢の中へ","○",""],
                ["寄り添う","○",""],
                ["HOME TOWN","○",""],
                ["By Blow Bye Bye Blow","○",""],
                ["La La Like a Love Song","○",""],
              ]
            )
        ]) %>
        <hr class="fade-2">
        <%= generate_cd_view(
          'boysgentleman', 
          'Al', 
          'Boys&Gentlemen', 
          Date.new(2015, 4, 29), 
          [
            CdData.new(
              "Disc1",
              [
                ["2丁拳銃","○",""],
                ["トビショック","○",""],
                ["馬ッ鹿者 feat.増子直純","○",""],
                ["マチガイナイ feat.Full Of Harmony","○",""],
                ["te.to.ri.su","○",""],
                ["バブルワンサゲン","○",""],
                ["ナイモノネダリ","○",""],
                ["火の用心","○",""],
                ["真ッ赤ニナル迄 SHOGO Remix","○",""],
                ["アイトクノウ","○",""],
              ]
            )
        ]) %>
    </ul>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h3 class="title animated fadeIn" id="other">OTHER</h3>
        <ul>
        <%= generate_cd_view(
          'kirifudanocard', 
          'Sg', 
          '切り札のカード / BY PHAR THE DOPEST', 
          Date.new(1997, 4, 1), 
          [
            CdData.new(
              "Disc1",
              [
                ["切り札のカード","○",""],
                ["伝導師","○",""],
                ["切り札のカード[Instrumental]","",""],
                ["伝導師[Instrumental]","",""],
                ["切り札のカード[Live]","",""],
                ["伝導師[Live]","",""],
              ]
            )
        ]) %>
        <hr class="fade-2">
        <%= generate_cd_view(
          'chikyuujin', 
          'Sg', 
          '地球人? / Radical Freaks', 
          Date.new(1997, 4, 1), 
          [
            CdData.new(
              "Disc1",
              [
                ["地球人?","○",""],
                ["被害妄想","○",""],
                ["地球人?[Instrumental]","",""],
                ["被害妄想[Instrumental]","",""],
                ["Freestyle～地球人?[Live]","",""],
              ]
            )
        ]) %>
        <hr class="fade-2">
        <%= generate_cd_view(
          'bypharthedopest', 
          'Al', 
          'BY PHAR THE DOPEST / BY PHAR THE DOPEST', 
          Date.new(1998, 6, 18), 
          [
            CdData.new(
              "Disc1",
              [
                ["イントロ","","Instrumental"],
                ["ああバイファー・ザ・ドーペスト","○",""],
                ["言わなくていい","○",""],
                ["PAYBACK(報復)'98","○",""],
                ["切り札のカード","○",""],
                ["大丈夫","○",""],
                ["無敵の捜査網","○",""],
                ["ある意味規則的な生活の中の贅沢","○",""],
                ["ALWAYS","○",""],
                ["未来予定図","○",""],
                ["人生ゲーム","○",""],
                ["PARTY(理想)","○",""],
                ["パーティ(現実)","○",""],
                ["アウトロ","","Instrumental"],
              ]
            )
        ]) %>
        <hr class="fade-2">
        <%= generate_cd_view(
          'roots', 
          'Al', 
          'Roots / 嶋野百恵', 
          Date.new(2000, 6, 21), 
          [
            CdData.new(
              "Disc1",
              [
                ["Prologue","",""],
                ["Hot Glamour -Original Flava-","",""],
                ["Jr.Butterfly -Original Full Mix-","",""],
                ["amour after affair","",""],
                ["夜明け前 feat.KOHEI JAPAN","",""],
                ["ためらいの糸","",""],
                ["裏窓","",""],
                ["スモーク","",""],
                ["asian rhythm","",""],
                ["Next Lounge -Original Full Length-","",""],
                ["陽炎","",""],
                ["狂おしく あなたに… -Album Mix-","",""],
                ["西の太陽 東の野薔薇","",""],
                ["Roots feat.KICK THE CAN CREW & INNOSENCE","○",""],
                ["Epilogue","",""],
                ["Hot Glamour (INCOGNITO MAIN) (REMIX:Jean-Paul 'Bluey' Maunick)","",""],
              ]
            )
        ]) %>
        <hr class="fade-2">
        <%= generate_cd_view(
            'angel', 
            'Sg', 
            'Angel / DOUBLE', 
            Date.new(2000, 11, 22), 
            [
              CdData.new(
                "Disc1",
                [
                  ["Angel","",""],
                  ["Angel (SPINNA EDIT)","",""],
                  ["U 〜KREVA REMIX〜 featuring KICK THE CAN CREW","○",""],
                  ["Angel (TV track)","",""],
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'uwasanoshinsou', 
            'Al', 
            'ウワサの真相 / RHYMESTER', 
            Date.new(2001, 12, 19), 
            [
              CdData.new(
                "Disc1",
                [
                  ["勝算(オッズ)","",""],
                  ["ロイヤル・ストレート・フラッシュ","",""],
                  ["ウワサの真相 featuring F.O.H","",""],
                  ["Lights,Camera,Action","",""],
                  ["Walk On-Hey,DJ JIN Pt.2-","",""],
                  ["This Y'all,That Y'all","",""],
                  ["The Blackbelt featuring PUSHIM","",""],
                  ["前略","",""],
                  ["プリズナーNo.1,2,3","",""],
                  ["グッド・オールド・デイズ","",""],
                  ["スタンプ・ラリー(KoNeKo物語)","",""],
                  ["ブレックファスト・クラブ","",""],
                  ["10 Balls+2 featuring Kick The Can Crew","○",""],
                  ["The Showstopper featuring PUSHIM","",""],
                  ["ツーリング・ブギー","",""],
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'konomachinodokokani', 
            'Sg', 
            'この街のどこかに / THE BOOM', 
            Date.new(2002, 6, 5), 
            [
              CdData.new(
                "Disc1",
                [
                  ["この街のどこかに","",""],
                  ["さとうきび畑","",""],
                  ["ウワサの真相 featuring F.O.H","",""],
                  ["いいあんべえ(monoaural mix) featuring KICK THE CAN CREW","○",""],
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'beginningoftheendless', 
            'Al', 
            'Beginning of the Endless / EAST END', 
            Date.new(2003, 9, 24), 
            [
              CdData.new(
                "Disc1",
                [
                  ["韻とLAW feat. CRAZY-A","",""],
                  ["試みの地平線","",""],
                  ["返事 feat. CUEZERO, CHANNEL","",""],
                  ["Life is beautiful","",""],
                  ["FGスポット feat. KICK THE CAN CREW","○",""],
                  ["4WD","",""],
                  ["ガクエムSea","",""],
                  ["Chillin' with ROCK-Tee","",""],
                  ["勝利の三本線 feat. MELLOW YELLOW","",""],
                  ["チョコレートシティ feat. RHYMESTER","",""],
                  ["起死回生","",""],
                  ["No Future feat. RIP SLYME","",""],
                  ["DJ大会 feat. F. G. DJ ALL STARS","",""],
                  ["あと一本で幸せ","",""],
                  ["進化論 feat. 童子-T","",""],
                  ["ココロエ〜神宮前35丁目 Ver.〜","",""],
                  ["Welcome to YOGGY's ISLAND","",""],
                  ["DAYONE","",""],
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'seasidebyebye', 
            'Sg', 
            'シーサイド・ばいばい / 木更津キャッツアイ feat. MCU', 
            Date.new(2006, 10, 25), 
            [
              CdData.new(
                "Disc1",
                [
                  ["シーサイド・ばいばい","○",""],
                  ["KISARAZU Cat's'n Roll","",""],
                  ["普通が一番","",""],
                  ["野球やろうぜ!","",""],
                  ["KISARAZU Cat's'n Roll","",""],
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'hajijanai', 
            'Sg', 
            '恥じゃない / BY PHAR THE DOPEST', 
            Date.new(2006, 12, 6), 
            [
              CdData.new(
                "Disc1",
                [
                  ["恥じゃない","○",""],
                  ["一発屋","○",""],
                  ["階段","○",""],
                ]
              )
          ]) %>
          <hr class="fade-2">
          <%= generate_cd_view(
            'dakaradoushita', 
            'Al', 
            'だからどうした! / BY PHAR THE DOPEST', 
            Date.new(2006, 12, 31), 
            [
              CdData.new(
                "Disc1",
                [
                  ["ラストコンサート","○",""],
                  ["でっかい内緒話","","歌詞非掲載"],
                  ["We back!","○",""],
                  ["だからどうした~あLet's go~","○",""],
                  ["YEAAAH!","○",""],
                  ["Daaam","○",""],
                  ["恥じゃない","○",""],
                  ["音愕業改","○",""],
                  ["天国と地獄","○",""],
                  ["くれ万端","○",""],
                  ["アレ!~Let's talk about~","○",""],
                  ["ファット坊や","○",""],
                  ["やるぞやるぞとは聞いてはいたけどそれ以上にやる feat.BLAST RAMPAGE","○",""],
                  ["安全運転","○",""],
                  ["1976のノイズ","○",""],
                ]
              )
          ]) %>
          </ul>
      </div>
    </div>
  </div>
</div>

